<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Progecto de gerenciamento escolar</title>
    <meta name="author" content="Manuel Ndombaxi & Edgar Venacio">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script> 
    <script src="https://threejs.org/build/three.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans,wht@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">

  </head>
  <body>
    <!--Cabeçalho-->

    <header th:fragment="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4527A0">
            <a class="navbar-brand" th:href="@{/index}">
                <img src="/img/igs2.png" class="img-3d" >
                
            
                <a class="nav-item nav-link">Instituto Superior Politecnico Gregório Semedo-Namibe</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
                <span class="navbar-toggler-icon"></span>
    
            </button>
            <div id="navMobile" class="navbar-collapse collapse justify-content-end">
               
                <a class="btn-nav nav-item nav-link" th:href="@{/index}"><i class="fas fa-home"></i> Home</a>
                <a class="btn-nav nav-item nav-link" th:href= "@{inserirAlunos}"><i class="fas fa-user-graduate"></i> Matricular</a>
                <a data-toggle="modal" data-target="#modalPesquisa" class="btn-nav nav-item nav-link" th:href= "@{filtro-alunos}"><i class="fas fa-search"></i> Pesquisar Aluno</a>
                <form action="/logout" method="post">
                <button type="submit" class="btn-nav nav-item nav-link btn-danger " ><i class="fas fa-times"></i> Sair</button>
                 </form>
    
            </div>
    
    
        </nav>
       </header>

       <!--Footer-->
       <footer th:fragment="rodape" >
        <div class="rodape">
            <span>Todos os Direitos Reservados-2024 &copy;Manuel Ndombaxi & Edgar Venacio</span>
    
        </div>
       </footer>
      
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>