@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.login-form{
    height: 100%;
    min-height: 100vh;
    background-image: url('img/manu.png');
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form{display: flex;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align: center;
}

.main-div{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 50%;
    padding: 50px 70px;
}

.form-control{
    background-color: #f7f7f7;
    border-radius: 7px;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #d4d4d4;
}

.form-group{
    margin: 10px;
}

.btn.btn-primary{
    background: #512DA8;
    border-color: #d4d4d4;
    font-size: 1.1em;
    padding: 0;
    height: 50px;
    width: 100%;
    margin: 10px;
}

.btn.btn-dark{
    background: #7E57C2;
    border-color: #d4d4d4;
    font-size: 1em;
    padding: 0;
    height: 40px;
    width: 50%;
}



/*teste*/
.img-3d {
    
    transform-origin: center;
    animation: rotateAndMove 5s infinite alternate; /* Animação alternada infinita */
    
}
@keyframes rotateAndMove {
    0% {
        transform: rotateY(0) scale(1);
    }
    100% {
        transform: rotateY(360deg) scale(1.1);
    }
}
.img-3d:hover img:nth-child(4){
    transform: translate(160px, -160px);
}



/* Efeito 3D quando o mouse passa sobre a imagem */
.navbar-brand:hover .img-3d {
   
    transform: rotateY(20deg) scale(1.1); /* Aplica uma escala para dar a impressão de sair da tela */
    opacity: 0.8; /* Reduz a opacidade para dar a impressão de movimento */
    filter: brightness(1.2); /* Ajusta o brilho para destacar a imagem */
}
