<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Progecto de gerenciamento escolar</title>
    <meta name="author" content="Manuel Ndombaxi & Edgar Venacio">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script> 
    <script src="https://threejs.org/build/three.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans,wht@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">

  </head>
  <body>

    <div style="margin: 0; text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Seja Bem-Vindo!:<span th:text="${session.usuarioLogado.user}"></span></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    
    <div th:replace="Fragmentos/fragmentos :: cabecalho"></div>
   
   <section class="center ndombaxi-section" style="background-image: url('img/fundo1.jpg'); max-width: 100%; height: auto; " >
    
    <div class="sombra"></div>

    <div class="ndombaxi-container">
        <h1 class="texto-centro"> Sistema de Gerenciamento de Estudantes</h1>
    <div class="botoes">
    <div class="wm">
        <a th:href="@{inserirAlunos}">
        <h5 class="btn" >MATRICULAR ESTUDANTE</h5>
    </a>
    </div>
    <div class="wm">
        <a class=" btn justify-content-center" th:href= "@{filtro-alunos}" > ENCONTRAR ESTUDANTE</a>
        <!--<h5 class="btn justify-content-center" th:href= "@{filtro-alunos}">ENCONTRAR ESTUDANTE</h5> -->
        <div class="clear"></div>

    </div>
</div>
</div>

   </section>
   <!--Inicio do Modal-->
   <div class="modal fade" id="modalPesquisa">
    <div class="modal-dialog modal-lg">
 
          <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Encontre um Estudante</h5>
                 <button type="button" class="close" data-dismiss="modal">
                     <span>&times;</span>
                 </button>
             </div>
 
             <form method="post" action="pesquisar-aluno" th:object="${aluno}">
                 <div class="modal-body">
                     <input type="text" th:field="*{nome}" class="form-control">
                 </div>
              
                 <div class="modal-footer">
                     <button class="btn btn-danger" style="font-size: 12px; padding: 5px 23px;" data-dismiss="modal">Fechar</button>
                     <button type="submit" class="btn btn-primary btn-sm" style="font-size: 12px; padding: 5px 10px;">Pesquisar</button>
                 </div>
             </form>
          </div>
    </div>
 
    </div>

   <div th:replace="Fragmentos/fragmentos :: rodape"></div>
  


      

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

